<configuration>
  <sitecore>

    <referenception>
      <providers hint="list">
        <provider type="Referenception.Common.FieldReferencesProvider, Referenception.Common">
          <templates hint="list">
            <template>Standard template</template>
          </templates>
        </provider>

        <provider type="Referenception.Common.CloneReferencesProvider, Referenception.Common">
          <templates hint="list">
            <template>Standard template</template>
          </templates>
        </provider>

        <provider type="Referenception.Common.UsageReferencesProvider, Referenception.Common">
          <templates hint="list">
            <template>Standard template</template>
          </templates>
        </provider>
      </providers>
    </referenception>

    <commands>
      <command name="referenception:showreferences" type="Referenception.Core.Commands.ShowReferences,Referenception.Core" />
    </commands>
    
  </sitecore>
</configuration>