<configuration>
  <sitecore>

    <referenception>
      <providers hint="list">
        <provider type="Referenception.Common.FieldReferencesProvider, Referenception.Common">
          <title>Show Field References</title>
          <templates hint="list">
            <template>Standard template</template>
          </templates>
          <fieldtypes hint="list">
            <fieldname>Droplink</fieldname>
            <fieldname>Droptree</fieldname>
            <fieldname>Droplist</fieldname>
            <fieldname>Multilist</fieldname>
          </fieldtypes>
        </provider>

        <provider type="Referenception.Common.CloneReferencesProvider, Referenception.Common">
          <title>Show Clone References</title>
          <templates hint="list">
            <template>Standard template</template>
          </templates>
        </provider>

        <provider type="Referenception.Common.UsageReferencesProvider, Referenception.Common">
          <title>Show Usage References</title>
          <templates hint="list">
            <template>Standard template</template>
          </templates>
        </provider>
      </providers>
    </referenception>

    <commands>
      <command name="referenception:showreferences" type="Referenception.Core.Commands.ShowReferences,Referenception.Core" />
    </commands>

    <settings>
      <setting name="Referenception.ApplicationUrl" value="/sitecore modules/Shell/Referenception/ShowReferences.aspx" />
    </settings>
    
  </sitecore>
</configuration>